@using wordman.SQLite
@using wordman.Utils

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" href="~/themes/wordman_blue/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/themes/wordman_blue/css/all.css">
    <link rel="stylesheet" href="~/themes/wordman_blue/css/loading.css">
    <link rel="stylesheet" href="~/themes/wordman_blue/css/wordman_blue.css">
    <script src="~/themes/wordman_blue/js/jquery-3.3.1.min.js"></script>
    <script src="~/themes/wordman_blue/js/bootstrap.min.js"></script>
    <script src="~/themes/wordman_blue/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="text-center">
    <header class="head-section">
        <nav class="navbar navbar-dark bg-primary navbar-static-top navbar-expand-lg">
            <a class="navbar-brand" href="/">@ViewBag.AppVer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topbar01" aria-controls="topbar01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topbar01">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Wordman <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item disabled">
                        <a class="nav-link" href="#">Settings</a>
                    </li>
                </ul>
                <form class="form-inline my-1 my-lg-0">
                    <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
                <div class="form-inline my-1 my-lg-0 mx-1">
                    <input class="form-control mr-sm-1" type="text" placeholder="Word" aria-label="Word" name="new_word" id="new_word">
                    <button class="btn btn-outline-light my-2 my-sm-0" id="add_word">Add Word</button>
                </div>
            </div>
        </nav>
    </header>
    <section id="body">
        <div class="container">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th data-sortable="true" class="c1">Word</th>
                        <th data-sortable="true" class="c2">Refer</th>
                        <th data-sortable="true" class="c3 auto-hidden">Last Referred</th>
                    </tr>
                </thead>
                <tbody id="word_rows">
                    @foreach (Word word in ViewBag.Data)
                    {
                        <tr class="word_context">
                            <th class="word" id="word">@word.Content</th>
                            <td id="ref">@word.Referenced</td>
                            <td class="auto-hidden" id="time">@word.LastReferenced</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
    <footer class="footer-small" id="footer">
        <div class="container">
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                @{
                int mag = (PageUtils.MaxShowPageCount - 1) / 2;
                int minPage = Math.Max(1, ViewBag.Page - mag);
                int maxPage = Math.Min(ViewBag.Page + mag, PageUtils.GetMaxPage(ViewBag.State.TotalCount));
                if (ViewBag.Page == 1)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">«</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Main", new { page = ViewBag.Page - 1 })" tabindex="-1">«</a>
                    </li>
                }
                for (int i = minPage; i <= maxPage; ++i)
                {
                    if (i == ViewBag.Page)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="#">@i <span class="sr-only">(current)</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", "Main", new { page = i })">@i</a>
                        </li>
                    }
                }
                if (ViewBag.Page == maxPage)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">»</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Main", new { page = ViewBag.Page + 1 })" tabindex="-1">»</a>
                    </li>
                }
                }
                </ul>
            </nav>
        </div>
    </footer>
    <script src="~/themes/wordman_blue/js/wordman_blue.js"></script>
</body>
</html>
